.title {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: green;
	font-size: 20px;
}

img{
	border: 1px solid lightblue;
	width: 150px;
	height: 150px;
}

li {
	list-style: none;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px;
}
.details {
	border: 1px solid;
	width: 300px;
	margin: 4px;
	padding: 4px;
	float: left;
}

.errBlock {
	text-align: center;
	border: 1px solid;
	color: red;
	font-size: 20px;
	font-weight: bolder;
	padding: 30px;
	border-radius: 20px;
	width: 400px;
	margin: 20px auto;
	display: none;
}

.loadingBlock {
	position: absolute;
	left: 45%;
	top: 40%;
	display: none;
}

.link {
	color: blue;
}

.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.popupContent {
	width: 700px;
	height: 500px;
	border-radius: 10px;
	border: 2px solid; #ccc;
	position: absolute;
	background: #ccc;
	left: 20%;
	top: 10%;
	display: none;
}

.maskBlock {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: red;
	opacity: 0.4;
	display: none;
}

.closeBtn {
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	margin: 5px;
}
.closeBtn:hover {
	color: #fff;
	cursor: pointer;
}