.header, 
.footer {
	border: 1px solid;
	background: #ccc;
	text-align: center;
	padding: 5px;
	position: absolute;
	left: 5px;
	right: 5px;
}
.footer {
	bottom: 5px;
}
.main_container{
	position: absolute;
	background: yellow;
	left: 5px;
	right: 5px;
	top: 40px;
	bottom: 40px;
	overflow: auto;
}
.loginBlock {
	border: 1px solid;
	background: #fff;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 400px;
}

li {
	border: 1px solid grey;
	margin: 10px;
	padding: 10px;
	list-style: none;
}
.subTitle {
	text-align: center;
	color: green;
}
.ubutton {
	text-align: right;
	margin: 5px;
}

.errBlock {
	color: red;
	text-align: center;
	font-weight: bold;
	margin: 5px;
	display: none;
}

.details {
	border: 1px solid;
	background: #ccc;
	margin: 5px; 
	padding: 5px;
	width: 300px;
	float: left;
}

.link {
	cursor: pointer;
	color: blue;
	margin: 5px;
	padding: 5px;
}
.link:hover {
	text-decoration: underline;
}