html
	head
		title
			| page form serve
	body
		div
			b(style="background:green")
				| Hello i got generated from server side
		ul
			li
				|Emp name #{name}
			li
				|Emp gender #{gender}
			li
				| emp Sal #{sal}