.header, .footer, .container {
	position: absolute;
	border: 1px solid;
	left: 10px;
	right: 10px;
	background: #ccc;
	
}

.footer {
	bottom: 10px;
	text-align: center;
}

.header {
	text-align: center;
}

.container {
	top: 40px;
	bottom: 40px;
}

.msgBlock {
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	text-align: center;
	width: 420px;
	background: yellow;

}

.addsBlock {
	position: absolute;
	bottom: 100px;
	right: 10px;
	border: 2px solid;
	border-radius: 10px;
	width: 150px;
	height: 110px;
	background: green;
	color: #fff;
	font-size: 20px;
}
.tab {
	border: 1px solid;
	background: #ccc;
	padding: 10px;
	width: 120px;
	margin: 5px;
	
}
.tab:hover {
	cursor: pointer;
	background: yellow;

}

.tabContainer {
	display: flex;

}
.menuicon img{
	width: 20px;
	height: 20px;
	text-align: left;
}

.menuicon {
	display: none;
}

@media screen and (max-width: 300px) {

	.msgBlock {
		width: 190px;
		background: red;
	}
	.addsBlock {
		display: none;
	}
	.tabContainer {
		flex-direction: column;
	}
	.tabContainer {
		display: none;
		position: absolute;
	}
	.menuicon {
		display: block;
		cursor: pointer;
	}

}


