body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.bg-image{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
.bg-image1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-form,.signup-form, .forgotPassword-form{
    width: 350px !important;
    height: 100%;
    border: 0.5px solid;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    background: white;
    padding: 50px;
}

.forgotPassword-form{
    width: 350px !important;
    height: auto;
    border: 0.5px solid;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    background: white;
    padding: 50px;
}

.loginHeader{
    display: block;
    font-family: Poppins-Bold !important;
    font-size: 40px;
    font-weight: 600;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.filedLabel{
    font-size: 16px;
    color: black;
    padding: 0 7px 0 0px;
    line-height: 1.5;
    font-family: Poppins-Regular;
}

.fieldInput{
    height: 30px;
    width: 350px;
    background: transparent;
    font-size: 16px;
    outline: none;
    font-family: Poppins-Medium;;
    border: transparent;
    line-height: 2;
    padding: 10px 0px;
    border-bottom: 2px solid #d9d9d9;
    margin-top: 5px;

}

.input-class{
    margin-top: 30px;
}

.forgot-pass{
    margin-top: 20px;
    float: right;
    border: none;
}

.forgot-pass a{

    text-decoration: none;
}

.btn-login,.btn-submit,.btn-signup{
    
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.signinLogin{
    display: flex;
    justify-content: space-between;
}

.btnSignup button{
    width: 150px;
    background: url("bg-01.jpg");
background-position: center;
}
.btnLogin button{
    width: 150px;
    background: url("bg-01.jpg");
    background-position: center;
}

button{
text-decoration: none;
border-radius: 20px;
background: url("bg-01.jpg");
background-position: top;
color: white;
text-transform: uppercase;
font-weight: 600;
font-size: 16px;
margin-top: 40px !important;
padding: 0 20px;
    width: 100%;
    height: 50px;
}

.text-center{
    text-align: center !important;
}

.socil-icon {
    max-width: 85%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    
}    
/* 
.socil-icon a{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 5px !important;
    line-height: 1.7;
    margin: 10px;

} */

.fa {
    padding: 12px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.signup-checkbox{
    margin-top: 80px;
    text-decoration: none;
    font-size: 14px;
}

.signup-signin {
    float: right;
    margin-top: -30px;
}

.signup-signin a{
    text-decoration: none;
}


