body{
	margin: 0;
	padding: 0;
	background: url(pic1.jpg);
	background-size: cover;
	background-position: center;
}

.Header{
	height: 100px;
	background: black;
}

.title{
	color: #fb2525;
	font-size: 35px;
	position: absolute;
	margin-left: 32%;
	margin-top: 2%; 
	font-weight: bold;
	text-align: center;
}

img{
	width: 120px;
	height: 90px;
	border: 1px solid red;
	border-radius: 5px;
	float: left;
	margin: 5px; 
}

.text{
	font-size: 20px;
	font-weight: bold;
	color: yellow;
	margin-bottom: 10px;
}

.loginBox{
	width: 320px;
	height: 400px;
	color: #000;
	top: 24%;
	left: 38%;
	background: black;
	position: absolute;
	padding: 70px 30px;
	box-sizing: border-box;
}

.avatar{
	width: 90px;
	height: 90px;
	margin-left: 25%;
	position: absolute;
	border: none;
	border-radius: 50px;
	top: -50px;
}

h2{
	color: #fb2525;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	margin-top: -15px;
	font-size: 22px;
}

.loginBox p{
	color: #fff;
	padding: 0;
	font-size: 20px;
	margin: 0;
	font-weight: bold;
}

.loginBox input[type="text"], input[type="password"]{
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 15px;
}

.loginBox input[type="submit"]{
	border: none;
	outline: none;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
	height: 30px;
	background: #fb2525;
	color: #fff;
	font-size: 15px;
	border-radius: 20px;
}

.loginBox input[type="submit"]:hover{
	cursor: pointer;
}

.loginBox a{
	text-decoration: none;
	font-size: 14px;
	line-height: 25px;
	color: #ccc;
	text-align: center;
	margin-left: 80px;
}

.loginBox a:hover{

}

.Footer{
	height: 32px;
	background: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	color: #fb2525;
	margin-top: 475px;
	padding: 25px;
}

.unameError, .upwdError{
	display: none;
}

.error{
	color: red;
	font-size: 15px;
	margin-top: -10px;

}

/*.show, .hide{
	position: absolute;
	right: 30px;
	top:51.8%;
	font-size: 20px;
	color: yellow; 
}

.hide{
	display: none;
}*/

.fa{
	font-size: 20px;
	color: #ccc;
	position: absolute;
	left: 83%;
	bottom: 43%; 
}