.title {
	text-align: center;
	border: 1px solid;
	background: #ccc;
	margin: 5px;
	padding: 5px;
	font-weight: bold;
}

.matchBlock {
	border: 1px solid;
	margin: 5px;
	padding: 10px;

}

li {
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	list-style: none;
}
.subTitle {
	text-align: center;
	color: green;
	text-decoration: underline;
}

img {
	width: 150px;
	height: 150px;
}

.loadingBlock {
	position: absolute;
	left: 45%;
	top: 20%;
	display: none;
}