.container{
    border: 1px solid;
    width: 600px;
    margin: 10px auto;
    padding: 10px auto;
}
.title, ul,li{
    margin: 5px;
    padding: 5px;
}

li{
    list-style: none;
    border: 1px solid;
}
.title{
    text-align: center;
    border: 1px solid;
}