.title {
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	margin: 10px;
	color: green;
}


.sDetails {
	border: 1px solid;
	margin: 5px auto;
	padding: 5px;
	background: #ccc;
	width: 600px;

}

li {
	list-style: none;
	background: #fff;
	margin: 5px;
	padding: 5px;
	border: 1px solid liteblug;
}

#userMarks input[type=text] {
	width: 40px;
}

.detailsBlock {
	display: none;
}